
.DS_Store

AgoraVoice-SwiftUI.xcodeproj/project.xcworkspace/contents.xcworkspacedata

AgoraVoice-SwiftUI.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

AgoraVoice-SwiftUI.xcodeproj/project.xcworkspace/xcuserdata/jheisecke.xcuserdatad/UserInterfaceState.xcuserstate

AgoraVoice-SwiftUI.xcodeproj/xcuserdata/jheisecke.xcuserdatad/xcschemes/xcschememanagement.plist

AgoraVoice-SwiftUI.xcodeproj/xcuserdata/jheisecke.xcuserdatad/xcdebugger/
